*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}
body{
    background-image: linear-gradient(88deg, #a6ffff 0, #a2edff 25%, #9dd5f2 100%, #96bed5 75%, #8ea8b9 100%);
}
.tH1{
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonControlers{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
}
.btnClearListStyle{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 0, 0, 0.774);
    color: white;
    
}
.fa-trash-can{
    
    padding: 5px;
    text-align: center;
    color: white
}

.fa-trash{
    padding: 5px;
    text-align: center;
    color: rgba(238, 227, 227, 0.705)
}

.inputText{
    font-size: 25px;
    width: 500px;
}

.btnSendStyle{
    width: auto;
    height: auto;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}
.fa-share{

    padding: 5px;
}

.btnStyle_sumar, .btnStyle_resta , .btnSendStyle{
    margin: 10px;
    height: auto;
    width: auto;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 13px;
    background-color: rgba(255, 0, 0, 0.541);
    color: white;
}



.btnStyle_eliminar{
    margin: 10px;
    height: auto;
    width: auto;
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.698);
    border-radius: 13px;
    border: none;
}
.ulListStyle{
    font-size: 2rem;
    list-style: none;
     
}

.btnmov{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
}

.ulDivControl{
    width: 50%;  
    overflow-y: scroll;
    height: 700px;
    border: 2px solid rgba(0, 0, 0, 0.534);
    padding: 7px;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputText{
    border: 1px solid rgba(0, 0, 0, 0.835);
    outline: none;
}


   